<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <meta charset="utf-8">
  <body>
  当前访客身份：
  <%= user?user.name:"游客"%>
  <%
  if(user){
  %>
  [ <a href="/logout">退出</a> ]
  <%
  }else{
  %>
  [ <a href="/login">登录</a> | <a href="/reg">注册</a> ]
  <%
  }
  %>
  </body>
</html>
