<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/doReg" method="post">
    用户名: <input type="text" name="username" id="uname"/><br/>
    密码: <input type="password" name="pwd"/><br/>
    <input type="submit" name="sub" value="注册" id="sub"/>
</form>
<script src="js/jq.js"></script>
<script src="js/reg.js"></script>
</body>
</html>